main {
  position: relative;
  span {
    color: #ffb100;
  }
}
.color-block {
  width: 100%;
  height: 40px;
  &__green {
    background-color: #b3e197;
  }
  &__rose {
    background-color: #e197d2;
  }
  &__lightblue {
    background-color: #9cc3ef;
  }
  &__aqua {
    background-color: #3dbcbb;
  }
  @media (min-width: 768px) {
    height: 60px;
  }
  @media (min-width: 1024px) {
    height: 80px;
  }
  @media (min-width: 1280px) {
    height: 103px;
  }
}

.food-and-service {
  position: relative;
  .nav-bar {
    position: absolute;
    z-index: 10;
    top: 60%;
    left: 97%;
    transform: translate(-50%, 50%);
    ul {
      display: flex;
      align-items: center;
      transform: rotate(90deg);
      width: fit-content;
      li {
        display: flex;
        flex-direction: column-reverse;
        width: 8px;
        height: 8px;
        border: 1px solid;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 15px;
        }
        a {
          display: block;
          width: 20px;
          height: 20px;
        }
      }
      .text {
        min-width: 70px;
        border: none;
        transform: rotate(180deg);
        display: inline-block;
        p {
          line-height: 4px;
          font-size: 10px;
        }
      }
      .active {
        display: block;
        position: absolute;
        bottom: 15%;
        left: 15%;
        width: 4px;
        height: 4px;
        border: 1px solid #ffb100;
        border-radius: 50%;
        background: #ffb100;
      }
    }
  }
  .background {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../img/food-and-service-bg.png) 20% no-repeat;
    height: 100vh;
    background-size: cover;
  }
  .container {
    padding: 8vh 1vh 0;
  }
  h2 {
    position: relative;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.56;
    text-transform: uppercase;
  }
  h2:last-of-type::after {
    content: '';
    position: absolute;
    bottom: -20%;
    left: 50%;
    width: 120px;
    height: 1px;
    background: #fff;
    transform: translate(-50%, -50%);
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20vh auto 0;
    width: 126px;
    height: 126px;
    font-size: 70px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.55);
    i {
      position: absolute;
      bottom: 20%;
      color: #ffb100;
    }
  }

  @media (min-width: 768px) {
    .nav-bar {
      top: 60%;
    }
    .background {
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../img/food-and-service-bg.png) 55% 55% no-repeat;
      height: 100vh;
      background-size: cover;
    }
    .container {
      padding: 12vh 1vh 0;
    }
    h2:last-of-type::after {
      bottom: -160%;
      width: 120px;
      height: 2px;
    }
    .icon {
      margin: 30vh auto 0;
    }
  }
  @media (min-width: 1024px) {
    .nav-bar {
      top: 50%;
      ul {
        .text {
          min-width: 100px;
          p {
            line-height: 8px;
            font-size: 14px;
          }
        }
        .active {
          bottom: 10%;
          left: 17%;
          width: 4px;
          height: 4px;
        }
      }
    }
    .background {
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../img/food-and-service-bg.png) 25% 25% no-repeat;
      height: 100vh;
      background-size: cover;
    }
    .container {
      padding: 12vh 1vh 0;
    }
    h2 {
      font-size: 36px;
    }
    h2:last-of-type::after {
      bottom: -150%;
      width: 140px;
      height: 2px;
    }
    .icon {
      margin: 28vh auto 0;
    }
  }
  @media (min-width: 1280px) {
    .background {
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../img/food-and-service-bg.png) no-repeat;
      height: 100vh;
      background-size: cover;
    }
    h2 {
      font-size: 42px;
    }
    h2:last-of-type::after {
      bottom: -120%;
      width: 150px;
      height: 2px;
    }
    .icon {
      margin: 28vh auto 0;
    }
  }
  @media (min-width: 1400px) {
    .nav-bar {
      top: 60%;
      right: -12%;
    }
    h2 {
      font-size: 46px;
    }
    h2:last-of-type::after {
      bottom: -80%;
      width: 160px;
      height: 2px;
    }
    .icon {
      width: 136px;
      height: 136px;
      font-size: 75px;
      margin: 22vh auto 0;
    }
  }
  @media (min-width: 1900px) {
    .nav-bar {
      left: 98%;
      ul {
        li {
          width: 10px;
          height: 10px;
        }
        .text {
          min-width: 120px;
          p {
            font-size: 16px;
          }
        }
        .active {
          bottom: 10%;
          left: 10%;
          width: 6px;
          height: 6px;
        }
      }
    }
    .container {
      padding: 25vh 0 0;
      max-height: 100vh;
    }
    h2 {
      font-size: 46px;
    }
    h2:last-of-type::after {
      bottom: -85%;
      width: 170px;
      height: 3px;
    }
    .icon {
      margin: 16vh auto 0;
      width: 146px;
      height: 146px;
      font-size: 80px;
    }
  }
  @media (min-width: 2500px) {
    .nav-bar {
      left: 99%;
    }
    h2 {
      font-size: 50px;
    }
    h2:last-of-type::after {
      bottom: -80%;
      width: 185px;
      height: 3px;
    }
    .icon {
      margin: 16vh auto 0;
      width: 156px;
      height: 156px;
      font-size: 82px;
    }
  }
}
.menu-concept {
  position: relative;
  .nav-bar {
    position: absolute;
    z-index: 10;
    top: 60%;
    left: 2.5%;
    transform: translate(-50%, 50%);
    ul {
      display: flex;
      align-items: center;
      transform: rotate(90deg);
      width: fit-content;
      li {
        display: flex;
        flex-direction: column-reverse;
        width: 8px;
        height: 8px;
        border: 1px solid;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 15px;
        }
        a {
          display: block;
          width: 20px;
          height: 20px;
        }
      }
      .text {
        width: fit-content;
        border: none;
        transform: rotate(180deg);
        display: inline-block;
        p {
          line-height: 8px;
          font-size: 10px;
        }
      }
      .active {
        display: block;
        position: absolute;
        bottom: 15%;
        left: 15%;
        width: 4px;
        height: 4px;
        border: 1px solid #ffb100;
        border-radius: 50%;
        background: #ffb100;
      }
    }
  }
  .background {
    background: url(../img/menu-concept-bg.png) 80% no-repeat;
    height: 100vh;
    background-size: cover;
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .content {
    padding-top: 7vh;
  }
  h2 {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 5vh;
  }
  p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 6vh;
  }
  .menu-concept-list {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 70px;
          height: 70px;
          font-size: 40px;
          border: 1px solid #fff;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.55);
          i {
            position: absolute;
            bottom: 2vh;
            color: #ffb100;
          }
        }
        p {
          margin-top: 1vh;
          margin-bottom: 3vh;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .background {
      background: url(../img/menu-concept-bg.png) 75% no-repeat;
      height: 100vh;
      background-size: cover;
    }
    h2 {
      font-size: 32px;
    }
    p {
      font-size: 22px;
    }
    .menu-concept-list {
      ul {
        li {
          .icon {
            width: 80px;
            height: 80px;
            font-size: 50px;
          }
          p {
            margin-top: 1vh;
            margin-bottom: 4vh;
            font-weight: 500;
            font-size: 14px;
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    .nav-bar {
      top: 50%;
      ul {
        .text {
          p {
            line-height: 8px;
            font-size: 14px;
          }
        }
        .active {
          bottom: 10%;
          left: 17%;
          width: 4px;
          height: 4px;
        }
      }
    }
    .background {
      background: url(../img/menu-concept-bg.png) 75% no-repeat;
      height: 100vh;
      background-size: cover;
    }
    .content {
      padding-top: 17vh;
    }
    h2 {
      font-size: 36px;
      margin-bottom: 7vh;
    }
    p {
      font-size: 26px;
      margin-bottom: 11vh;
    }
    .menu-concept-list {
      ul {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        li {
          .icon {
            width: 120px;
            height: 120px;
            font-size: 70px;
            i {
              margin-bottom: 1vh;
            }
          }
          p {
            margin-top: 3vh;
            font-weight: 500;
            font-size: 18px;
          }
        }
        li:first-of-type::after {
          content: '----';
          position: absolute;
          top: 29%;
          left: 32.5%;
          font-size: 36px;
          transform: translate(0, -50%);
        }
        li:last-of-type::before {
          content: '----';
          position: absolute;
          top: 29%;
          right: 32.5%;
          font-size: 36px;
          transform: translate(0, -50%);
        }
        li:not(:last-child) {
          margin-right: 12%;
        }
      }
    }
  }
  @media (min-width: 1280px) {
    .background {
      background: url(../img/menu-concept-bg.png) no-repeat;
      height: 100vh;
      background-size: cover;
    }
    h2 {
      font-size: 40px;
    }
    p {
      font-size: 30px;
    }
    .menu-concept-list {
      ul {
        li {
          .icon {
            width: 126px;
            height: 126px;
            font-size: 70px;
          }
          p {
            margin-top: 3.5vh;
            font-size: 18px;
          }
        }
        li:first-of-type::after {
          left: 37%;
          font-size: 32px;
        }
        li:last-of-type::before {
          right: 37%;
          font-size: 32px;
        }
        li:not(:last-child) {
          margin-right: 15vh;
        }
      }
    }
  }
  @media (min-width: 1400px) {
    .nav-bar {
      ul {
        .text {
          p {
            line-height: 8px;
            font-size: 14px;
          }
        }
      }
    }
    .menu-concept-list {
      ul {
        li {
          .icon {
            width: 136px;
            height: 136px;
            font-size: 75px;
          }
          p {
            font-size: 20px;
          }
        }
        li:first-of-type::after {
          left: 38%;
          font-size: 32px;
        }
        li:last-of-type::before {
          right: 38%;
          font-size: 32px;
        }
        li:not(:last-child) {
          margin-right: 15vh;
        }
      }
    }
  }
  @media (min-width: 1900px) {
    .nav-bar {
      ul {
        li {
          width: 10px;
          height: 10px;
        }
        .text {
          p {
            font-size: 16px;
          }
        }
        .active {
          bottom: 10%;
          left: 10%;
          width: 6px;
          height: 6px;
        }
      }
    }
    .content {
      padding-top: 25vh;
    }
    h2 {
      font-size: 46px;
      margin-bottom: 4vh;
    }
    p {
      font-size: 38px;
      margin-bottom: 9vh;
    }
    .menu-concept-list {
      ul {
        li {
          .icon {
            margin: 1vh auto 0;
            width: 146px;
            height: 146px;
            font-size: 72px;
            i {
              bottom: 3vh;
            }
          }
          p {
            font-size: 22px;
          }
        }
        li:first-of-type::after {
          top: 29%;
          left: 36%;
          font-size: 55px;
        }
        li:last-of-type::before {
          top: 29%;
          right: 36%;
          font-size: 55px;
        }
        li:not(:last-child) {
          margin-right: 12%;
        }
      }
    }
  }
  @media (min-width: 2500px) {
    h2 {
      font-size: 50px;
    }
    p {
      font-size: 42px;
    }
    .menu-concept-list {
      ul {
        li {
          .icon {
            margin: 1vh auto 0;
            width: 146px;
            height: 146px;
            font-size: 72px;
            i {
              bottom: 3vh;
            }
          }
          p {
            font-size: 26px;
          }
        }
        li:first-of-type::after {
          top: 29%;
          left: 37%;
          font-size: 55px;
        }
        li:last-of-type::before {
          top: 29%;
          right: 37%;
          font-size: 55px;
        }
        li:not(:last-child) {
          margin-right: 12%;
        }
      }
    }
  }
}
.cooking-on-coals {
  position: relative;
  .nav-bar {
    position: absolute;
    z-index: 10;
    top: 60%;
    left: 97%;
    transform: translate(-50%, 50%);
    ul {
      display: flex;
      align-items: center;
      transform: rotate(90deg);
      width: fit-content;
      li {
        display: flex;
        flex-direction: column-reverse;
        width: 8px;
        height: 8px;
        border: 1px solid;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 15px;
        }
        a {
          display: block;
          width: 20px;
          height: 20px;
        }
      }
      .text {
        min-width: 100px;
        border: none;
        transform: rotate(180deg);
        display: inline-block;
        p {
          line-height: 4px;
          font-size: 10px;
        }
      }
      .active {
        display: block;
        position: absolute;
        bottom: 15%;
        left: 15%;
        width: 4px;
        height: 4px;
        border: 1px solid #ffb100;
        border-radius: 50%;
        background: #ffb100;
      }
    }
  }
  .background {
    background: url(../img/cooking-on-coals-bg.png) 50% no-repeat;
    height: 100vh;
    background-size: cover;
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .content {
    padding-top: 7vh;
  }
  h2 {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 5vh;
  }
  p {
    font-weight: bold;
    font-size: 20px;
    &:not(:last-child) {
      margin-bottom: 14vh;
    }
  }
  @media (min-width: 768px) {
    h2 {
      font-size: 32px;
      margin-bottom: 20vh;
    }
    p {
      font-size: 22px;
      &:not(:last-child) {
        margin-bottom: 16vh;
      }
    }
  }
  @media (min-width: 1024px) {
    .nav-bar {
      top: 50%;
      ul {
        .text {
          min-width: 130px;
          p {
            line-height: 8px;
            font-size: 14px;
          }
        }
        .active {
          bottom: 10%;
          left: 17%;
          width: 4px;
          height: 4px;
        }
      }
    }
    .background {
      background: url(../img/cooking-on-coals-bg.png) 75% no-repeat;
      height: 100vh;
      background-size: cover;
    }
    .content {
      padding-top: 17vh;
    }
    h2 {
      font-size: 36px;
      margin-bottom: 10vh;
    }
    p {
      font-size: 26px;
      &:not(:last-child) {
        margin-bottom: 10vh;
      }
    }
  }
  @media (min-width: 1280px) {
    .background {
      background: url(../img/cooking-on-coals-bg.png) no-repeat;
      height: 100vh;
      background-size: cover;
    }
    h2 {
      font-size: 40px;
      margin-bottom: 10vh;
    }
    p {
      font-size: 30px;
      &:not(:last-child) {
        margin-bottom: 10vh;
      }
    }
  }
  @media (min-width: 1400px) {
  }
  @media (min-width: 1900px) {
    .nav-bar {
      left: 97.5%;
      ul {
        li {
          width: 10px;
          height: 10px;
        }
        .text {
          min-width: 150px;
          p {
            font-size: 16px;
          }
        }
        .active {
          bottom: 10%;
          left: 10%;
          width: 6px;
          height: 6px;
        }
      }
    }
    .content {
      padding-top: 25vh;
    }
    h2 {
      font-size: 46px;
      margin-bottom: 4vh;
    }
    p {
      font-size: 38px;
      &:not(:last-child) {
        margin-bottom: 4vh;
      }
    }
  }
  @media (min-width: 2500px) {
    h2 {
      font-size: 50px;
    }
    p {
      font-size: 42px;
    }
  }
}
.we-bake-pizza {
  position: relative;
  .nav-bar {
    position: absolute;
    z-index: 10;
    top: 60%;
    left: 2.5%;
    transform: translate(-50%, 50%);
    ul {
      display: flex;
      align-items: center;
      transform: rotate(90deg);
      width: fit-content;
      li {
        display: flex;
        flex-direction: column-reverse;
        width: 8px;
        height: 8px;
        border: 1px solid;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 15px;
        }
        a {
          display: block;
          width: 20px;
          height: 20px;
        }
      }
      .text {
        width: fit-content;
        border: none;
        transform: rotate(180deg);
        display: inline-block;
        p {
          line-height: 5px;
          font-size: 10px;
        }
      }
      .active {
        display: block;
        position: absolute;
        bottom: 15%;
        left: 15%;
        width: 4px;
        height: 4px;
        border: 1px solid #ffb100;
        border-radius: 50%;
        background: #ffb100;
      }
    }
  }
  .background {
    background: url(../img/we-bake-pizza-bg.png) 80% no-repeat;
    height: 100vh;
    background-size: cover;
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .content {
    padding-top: 7vh;
  }
  h2 {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10vh;
    line-height: 1.55;
    span {
      text-decoration: underline;
    }
  }
  p {
    font-weight: bold;
    font-size: 20px;
  }
  @media (min-width: 768px) {
    .content {
      padding-top: 15vh;
    }
    h2 {
      padding: 0 50px;
      font-size: 32px;
      margin-bottom: 14vh;
    }
    p {
      font-size: 22px;
    }
  }
  @media (min-width: 1024px) {
    .nav-bar {
      top: 50%;
      ul {
        .text {
          p {
            line-height: 8px;
            font-size: 14px;
          }
        }
        .active {
          bottom: 10%;
          left: 17%;
          width: 4px;
          height: 4px;
        }
      }
    }
    .content {
      padding-top: 17vh;
    }
    h2 {
      font-size: 36px;
    }
    p {
      font-size: 26px;
    }
  }
  @media (min-width: 1280px) {
    .background {
      background: url(../img/we-bake-pizza-bg.png) no-repeat;
      height: 100vh;
      background-size: cover;
    }
    h2 {
      font-size: 40px;
    }
    p {
      font-size: 30px;
    }
  }
  @media (min-width: 1400px) {
    .nav-bar {
      ul {
        .text {
          p {
            font-size: 14px;
          }
        }
      }
    }
    h2 {
      margin-bottom: 5vh;
    }
  }
  @media (min-width: 1900px) {
    .nav-bar {
      ul {
        li {
          width: 10px;
          height: 10px;
        }
        .text {
          p {
            font-size: 16px;
          }
        }
        .active {
          bottom: 10%;
          left: 10%;
          width: 6px;
          height: 6px;
        }
      }
    }
    .content {
      padding-top: 27vh;
      width: 70%;
      margin: 0 auto;
    }
    h2 {
      font-size: 46px;
      margin-bottom: 4vh;
    }
    p {
      font-size: 38px;
    }
  }
  @media (min-width: 2500px) {
    h2 {
      padding: 0 150px;
      font-size: 50px;
      margin-bottom: 5vh;
    }
    p {
      font-size: 42px;
    }
  }
}
