main {
  position: relative;
  span {
    color: #ffb100;
  }
}
.color-block {
  width: 100%;
  height: 40px;
  &__green {
    background-color: #b3e197;
  }
  &__rose {
    background-color: #e197d2;
  }
  &__lightblue {
    background-color: #9cc3ef;
  }
  &__aqua {
    background-color: #3dbcbb;
  }
  @media (min-width: 768px) {
    height: 60px;
  }
  @media (min-width: 1024px) {
    height: 80px;
  }
  @media (min-width: 1280px) {
    height: 103px;
  }
}
.food-and-service {
  position: relative;
  .nav-bar {
    display: none;
    @media (min-width: 1024px) {
      display: block;
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 2.5%;
      transform: translate(-50%, 50%);
      ul {
        display: flex;
        align-items: center;
        transform: rotate(90deg);
        width: fit-content;
        li {
          display: flex;
          flex-direction: column-reverse;
          width: 10px;
          height: 10px;
          border: 1px solid;
          border-radius: 50%;
          position: relative;
          cursor: pointer;
          &:not(:last-child) {
            margin-right: 15px;
          }
          a {
            display: block;
            width: 30px;
            height: 30px;
          }
        }
        .text {
          width: fit-content;
          border: none;
          transform: rotate(180deg);
          display: inline-block;
          p {
            line-height: 8px;
            font-size: 16px;
          }
        }
        .active {
          display: block;
          position: absolute;
          transform: translate(-50%, 50%);
          left: 50%;
          top: -30%;
          width: 6px;
          height: 6px;
          border: 1px solid #b3e197;
          border-radius: 50%;
          background: #b3e197;
        }
      }
    }
  }
  .background {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/work-team-bg-mob.png) 60% 0 no-repeat;
    // height: 100vh;
    background-size: cover;
  }
  .container {
    padding: 89px 27px;
  }
  h2 {
    position: relative;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.21;
    text-align: center;
    text-transform: uppercase;
    width: 210px;
    margin: 0 auto 16px;
    color: #b3e197;
  }
  p {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #ffffff;
    &:after {
      content: '';
      position: absolute;
      top: 55%;
      left: 50%;
      width: 84px;
      height: 1px;
      background: #fff;
      transform: translate(-50%, -50%);
    }
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20vh auto 0;
    width: 64px;
    height: 64px;
    font-size: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.55);
    i {
      position: absolute;
      bottom: 20%;
      color: #b3e197;
    }
  }

  @media (min-width: 768px) {
    .background {
      background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/work-team-bg2.png) 50% 0 no-repeat;
      height: 100vh;
      background-size: cover;
    }
    h2 {
      font-size: 36px;
      width: 350px;
    }
    p {
      font-size: 20px;
    }
    .icon {
      margin: 30vh auto 0;
    }
  }
  @media (min-width: 1024px) {
    .background {
      background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/work-team-bg2.png) 50% 0 no-repeat;
      height: 100vh;
      background-size: cover;
    }
    .container {
      padding: 150px 50px;
    }
    h2 {
      font-size: 44px;
      width: 100%;
      margin-bottom: 22px;
    }
    p {
      font-size: 26px;
      &:after {
        display: none;
      }
    }
    .icon {
      margin: 19vh auto 0;
      width: 146px;
      height: 146px;
      font-size: 58px;
      &:after {
        content: '';
        position: absolute;
        top: -45%;
        left: 50%;
        width: 169px;
        height: 3px;
        background: #fff;
        transform: translate(-50%, -50%);
      }
      i {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 43%;
        color: #b3e197;
      }
    }
  }
  @media (min-width: 1280px) {
  }
  @media (min-width: 1400px) {
    h2 {
      font-size: 56px;
    }
    p {
      font-size: 32px;
    }
  }
  @media (min-width: 1900px) {
    .container {
      padding: 253px 50px;
    }
    h2 {
      font-size: 65px;
    }
    p {
      font-size: 38px;
    }
    .icon {
      margin: 28vh auto 0;
      &:after {
        top: -80%;
      }
    }
  }
  @media (min-width: 2500px) {
  }
}
.menu-concept {
  position: relative;
  .nav-bar {
    display: none;
    @media (min-width: 1024px) {
      display: block;
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 2.5%;
      transform: translate(-50%, 50%);
      ul {
        display: flex;
        align-items: center;
        transform: rotate(90deg);
        width: fit-content;
        li {
          display: flex;
          flex-direction: column-reverse;
          width: 10px;
          height: 10px;
          border: 1px solid;
          border-radius: 50%;
          position: relative;
          cursor: pointer;
          &:not(:last-child) {
            margin-right: 15px;
          }
          a {
            display: block;
            width: 30px;
            height: 30px;
          }
        }
        .text {
          width: fit-content;
          border: none;
          transform: rotate(180deg);
          display: inline-block;
          p {
            line-height: 8px;
            font-size: 16px;
          }
        }
        .active {
          display: block;
          position: absolute;
          bottom: 15%;
          left: 16%;
          width: 6px;
          height: 6px;
          border: 1px solid #e197d2;
          border-radius: 50%;
          background: #e197d2;
        }
      }
    }
  }
  .background {
    background: url(../img/menu-concept-bg.png) 80% no-repeat;
    height: 781px;
    background-size: cover;
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .content {
    padding: 65px 10px;
  }
  h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.21;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #e197d2;
  }
  p {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.21;
    margin-bottom: 51px;
    padding: 0 20px;
  }
  .menu-concept-list {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 64px;
          height: 64px;
          font-size: 40px;
          border: 1px solid #fff;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.55);
          i {
            position: absolute;
            bottom: 15%;
            color: #e197d2;
          }
        }
        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 1.21;
          text-align: center;
          margin-top: 16px;
          margin-bottom: 52px;
          padding: 0;
        }
      }
      li:first-of-type::after {
        content: '-';
        position: absolute;
        top: 22%;
        left: 48%;
        font-size: 40px;
        transform: translate(0, -50%);
        transform: rotate(90deg);
      }
      li:last-of-type::before {
        content: '-';
        position: absolute;
        top: 56%;
        left: 48%;
        font-size: 40px;
        transform: translate(0, -50%);
        transform: rotate(90deg);
      }
    }
  }
  @media (min-width: 768px) {
    .background {
      background: url(../img/menu-concept-bg.png) 75% no-repeat;
      min-height: 100vh;
      background-size: cover;
    }
    h2 {
      font-size: 36px;
      width: 450px;
      margin: 0 auto 16px;
    }
    p {
      font-size: 20px;
      width: 450px;
      margin: 0 auto 51px;
    }
    .menu-concept-list {
      ul {
        li:first-of-type::after {
          left: 49%;
        }
        li:last-of-type::before {
          left: 49%;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    .background {
      background: #9cc3ef;
      min-height: 100vh;
      background-size: cover;
    }
    .content {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      width: 100%;
      padding: 0;
    }
    h2 {
      font-size: 44px;
      width: 100%;
      margin: 0 auto 22px;
      &::after,
      &::before {
        content: '----';
        position: absolute;
        top: 59%;
        left: 30.5%;
        font-size: 36px;
        transform: translate(0, -50%);
        color: #fff;
      }
      &::after {
        left: 31.5%;
      }
      &::before {
        left: 59.5%;
      }
    }
    p {
      font-size: 26px;
      width: 100%;
      margin: 0 auto 90px;
    }
    .menu-concept-list {
      ul {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        li {
          .icon {
            width: 146px;
            height: 146px;
            font-size: 58px;
            i {
              position: absolute;
              transform: translate(-50%, -50%);
              left: 50%;
              top: 43%;
            }
          }
          p {
            margin-top: 33px;
            font-weight: 500;
            font-size: 22px;
          }
          &::after,
          &::before {
            display: none;
          }
        }

        li:not(:last-child) {
          margin-right: 108px;
        }
      }
    }
  }
  @media (min-width: 1280px) {
    h2 {
      &::after,
      &::before {
        top: 58%;
      }
      &::after {
        left: 35.5%;
      }
      &::before {
        left: 57.5%;
      }
    }
  }
  @media (min-width: 1400px) {
    h2 {
      font-size: 56px;

      &::after,
      &::before {
        top: 58%;
      }
      &::after {
        left: 37%;
      }
      &::before {
        left: 57%;
      }
    }
    p {
      font-size: 32px;
    }
  }
  @media (min-width: 1900px) {
    h2 {
      font-size: 65px;
      &::after,
      &::before {
        top: 62%;
      }
      &::after {
        left: 40.5%;
      }
      &::before {
        left: 55%;
      }
    }
    p {
      font-size: 38px;
    }
  }
  @media (min-width: 2500px) {
  }
}
.cooking-on-coals {
  position: relative;
  .nav-bar {
    display: none;
    @media (min-width: 1024px) {
      display: block;
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 2.5%;
      transform: translate(-50%, 50%);
      ul {
        display: flex;
        align-items: center;
        transform: rotate(90deg);
        width: fit-content;
        li {
          display: flex;
          flex-direction: column-reverse;
          width: 10px;
          height: 10px;
          border: 1px solid;
          border-radius: 50%;
          position: relative;
          cursor: pointer;
          &:not(:last-child) {
            margin-right: 15px;
          }
          a {
            display: block;
            width: 30px;
            height: 30px;
          }
        }
        .text {
          width: fit-content;
          border: none;
          transform: rotate(180deg);
          display: inline-block;
          p {
            line-height: 8px;
            font-size: 16px;
          }
        }
        .active {
          display: block;
          position: absolute;
          bottom: 15%;
          left: 16%;
          width: 6px;
          height: 6px;
          border: 1px solid #9cc3ef;
          border-radius: 50%;
          background: #9cc3ef;
        }
      }
    }
  }
  .background {
    background: url(../img/cooking-on-coals-bg.png) 50% no-repeat;
    height: 100vh;
    background-size: cover;
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .content {
    // padding: 124px 21px;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 0 21px;
    top: 50%;
    left: 50%;
    width: 100%;
  }
  h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.21;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #9cc3ef;
  }
  p {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.21;
    color: #ffffff;
  }
  @media (min-width: 768px) {
    h2 {
      font-size: 36px;
    }
    p {
      font-size: 20px;
      padding: 0 180px;
    }
  }
  @media (min-width: 1024px) {
    .background {
      background: #3dbcbb;
      min-height: 100vh;
      background-size: cover;
    }
    h2 {
      font-size: 44px;
      margin-bottom: 25px;
    }
    p {
      font-size: 26px;
      padding: 0;
    }
    .cooking-on-coals__text {
      width: 600px;
      margin: 0 auto;
    }
  }
  @media (min-width: 1280px) {
  }
  @media (min-width: 1400px) {
    h2 {
      font-size: 56px;
    }
    p {
      font-size: 32px;
    }
    .cooking-on-coals__text {
      width: 700px;
    }
  }
  @media (min-width: 1900px) {
    h2 {
      font-size: 65px;
    }
    p {
      font-size: 38px;
    }
  }
  @media (min-width: 2500px) {
  }
}
.we-bake-pizza {
  position: relative;
  .nav-bar {
    display: none;
    @media (min-width: 1024px) {
      display: block;
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 2.5%;
      transform: translate(-50%, 50%);
      ul {
        display: flex;
        align-items: center;
        transform: rotate(90deg);
        width: fit-content;
        li {
          display: flex;
          flex-direction: column-reverse;
          width: 10px;
          height: 10px;
          border: 1px solid;
          border-radius: 50%;
          position: relative;
          cursor: pointer;
          &:not(:last-child) {
            margin-right: 15px;
          }
          a {
            display: block;
            width: 30px;
            height: 30px;
          }
        }
        .text {
          width: fit-content;
          border: none;
          transform: rotate(180deg);
          display: inline-block;
          p {
            line-height: 8px;
            font-size: 16px;
          }
        }
        .active {
          display: block;
          position: absolute;
          bottom: 15%;
          left: 13%;
          width: 6px;
          height: 6px;
          border: 1px solid #3dbcbb;
          border-radius: 50%;
          background: #3dbcbb;
        }
      }
    }
  }
  .background {
    background: url(../img/we-bake-pizza-bg.png) 100% no-repeat;
    height: 100vh;
    background-size: cover;
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .content {
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 0 21px;
    top: 50%;
    left: 50%;
    width: 100%;
  }
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.21;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #3dbcbb;
    padding: 0 30px;
  }
  .we-bake-pizza__text {
    p {
      font-weight: bold;
      font-size: 16px;
      line-height: 1.21;
      padding: 0 31px;
      &:last-of-type {
        padding: 0 49px;
      }
      span {
        text-decoration: underline;
        color: #fff;
      }
    }
  }
  @media (min-width: 768px) {
    h2 {
      font-size: 36px;
      padding: 0 100px;
    }
    .we-bake-pizza__text {
      p {
        font-size: 20px;
        padding: 0 210px;
        &:last-of-type {
          padding: 0 230px;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    h2 {
      font-size: 44px;
      padding: 0;
      margin-bottom: 30px;
    }
    .we-bake-pizza__text {
      p {
        font-size: 26px;
        padding: 0;
        &:last-of-type {
          padding: 0;
        }
      }
    }
  }
  @media (min-width: 1280px) {
  }
  @media (min-width: 1400px) {
    h2 {
      font-size: 56px;
    }
    p {
      font-size: 32px;
    }
  }
  @media (min-width: 1900px) {
    h2 {
      font-size: 65px;
    }
    p {
      font-size: 38px;
    }
  }
  @media (min-width: 2500px) {
    h2 {
      padding: 0 150px;
      font-size: 50px;
      margin-bottom: 5vh;
    }
    p {
      font-size: 42px;
    }
  }
}
