// .loyalty-program-wrapper {
// }
.how-to-join {
  background: url(../img/loyalty-program-bg1.png) 75% 170% no-repeat;
  &-wrapper {
    padding: 5vh 2vh;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  h2 {
    color: #000000;
    font-family: 'Cartograph Sans CF';
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5vh;
  }
  h3 {
    color: #000000;
    font-family: 'Cartograph Sans CF';
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 4vh;
  }
  ul {
    margin-left: 10vh;
    li {
      p {
        color: #000000;
        font-family: 'Cartograph Sans CF';
        font-size: 12px;
        font-weight: 700;
        text-align: left;
      }
      ul {
        margin: 4.3vh 1vh 6.7vh 1.9vh;
        display: flex;
        li:first-of-type {
          margin-right: 1.5vh;
        }
      }
      a {
        color: #3dbcbb;
        text-decoration: underline;
      }
      .qr-code {
        margin: 1.9vh 0 0 10vh;
      }
    }
  }
  @media (min-width: 767px) {
    background: url(../img/loyalty-program-bg1.png) 100% 75% no-repeat;
    &-wrapper {
      padding: 7vh 5vh;
    }
    h2 {
      font-size: 32px;
      margin-bottom: 12vh;
    }
    h3 {
      font-size: 32px;
      text-align: center;
      margin-left: 25vh;
      margin-bottom: 4vh;
    }
    ul {
      margin-left: 60vh;
      li {
        p {
          font-size: 14px;
        }
        .qr-code {
          margin: 1.9vh 0 0 20vh;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    background: url(../img/loyalty-program-bg1.png) 650% 75% no-repeat;
    &-wrapper {
      padding: 7vh 2vh;
      border-bottom: 1px solid black;
      width: 80%;
    }
    h2 {
      font-size: 34px;
      margin-bottom: 12vh;
    }
    h3 {
      font-size: 32px;
      text-align: left;
      margin-bottom: 4vh;
      margin-left: 0;
    }
    ul {
      margin-left: 4.8vh;
      padding-right: 35%;
      li {
        p {
          font-size: 16px;
          padding-right: 30%;
        }
        .qr-code {
          margin: 1.9vh 0 0 14vh;
        }
      }
    }
  }
  @media (min-width: 1280px) {
    background: url(../img/loyalty-program-bg1.png) 185% 75% no-repeat;
    &-wrapper {
      padding: 7vh 2vh;
      border-bottom: 1px solid black;
      width: 70%;
    }
    h2 {
      font-size: 36px;
      margin-bottom: 12vh;
    }
    h3 {
      font-size: 36px;
    }
  }
  @media (min-width: 1400px) {
    background: url(../img/loyalty-program-bg1.png) 150% 75% no-repeat;
    &-wrapper {
      padding: 9.5vh 0 11vh;
      width: 67%;
    }
    h2 {
      font-size: 38px;
      margin-bottom: 12vh;
    }
    h3 {
      font-size: 38px;
      margin-bottom: 5.3vh;
    }
    ul {
      margin-left: 4.8vh;
      li {
        .qr-code {
          margin: 1.9vh 0 0 15vh;
        }
      }
    }
  }
  @media (min-width: 1900px) {
    background: url(../img/loyalty-program-bg1.png) 100% 75% no-repeat;
    &-wrapper {
      padding: 9.5vh 0 11vh;
      border-bottom: 1px solid black;
      width: 67%;
      margin: 0 auto;
      position: relative;
    }
    h2 {
      color: #000000;
      font-family: 'Cartograph Sans CF';
      font-size: 38px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 12vh;
    }
    h3 {
      color: #000000;
      font-family: 'Cartograph Sans CF';
      font-size: 38px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 5.3vh;
    }
    ul {
      margin-left: 4.8vh;
      li {
        p {
          color: #000000;
          font-family: 'Cartograph Sans CF';
          font-size: 16px;
          font-weight: 700;
          text-align: left;
        }
        ul {
          margin: 4.3vh 0 6.7vh 1.9vh;
          display: flex;
          li:first-of-type {
            margin-right: 1.4vh;
          }
        }
        a {
          color: #3dbcbb;
          text-decoration: underline;
        }
        .qr-code {
          margin: 1.9vh 0 0 15vh;
        }
      }
    }
  }
  @media (min-width: 2500px) {
    background: url(../img/loyalty-program-bg1.png) 100% 85% no-repeat;
    background-size: 55%;
    &-wrapper {
      width: 70%;
    }
    h2 {
      font-size: 40px;
      margin-bottom: 12vh;
    }
    h3 {
      font-size: 40px;
      margin-bottom: 5.3vh;
    }
    ul {
      margin-left: 4.8vh;
      li {
        p {
          font-size: 18px;
        }
        ul {
          li:first-of-type {
            margin-right: 1.6vh;
          }
        }
        .qr-code {
          margin: 1.9vh 0 0 14vh;
        }
      }
    }
  }
}
.how-to-use {
  &-wrapper {
    padding: 11vh 2vh 10vh;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  h3 {
    color: #000000;
    font-family: 'Cartograph Sans CF';
    font-size: 38px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10vh;
  }
  ul {
    padding-right: 2vh;
    li {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 5vh;
      }
      // &:nth-child(odd) {
      //   margin-left: 1vh;
      // }
      // &:nth-child(even) {
      //   margin-left: 54.5vh;
      // }
      div {
        width: 75px;
        height: 75px;
        margin-right: 12vh;
      }
      span {
        display: flex;
        position: relative;
        width: 75px;
        height: 75px;
        border-radius: 50%;
      }
      i {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-size: 50px;
      }
      .icon-first {
        border: 5px solid #15aaa8;
        background-color: #3dbcbb;
        position: relative;
      }
      .icon-first::after {
        content: '-----------------';
        position: absolute;
        color: #15aaa8;
        transform: rotate(30deg);
        bottom: -5vh;
        right: -25vh;
        font-size: 20px;
      }
      .title-first::before {
        content: '01.';
        position: absolute;
        left: -5vh;
        transform: translate(-50%, 0%);
      }
      .icon-second {
        border: 15px solid #e13b52;
        background-color: #f3576d;
      }
      .icon-second::after {
        content: '-----------------';
        position: absolute;
        color: #e13b52;
        transform: rotate(-30deg);
        bottom: -5vh;
        left: -25vh;
        font-size: 20px;
      }
      .title-second::before {
        content: '02.';
        position: absolute;
        left: -5vh;
        transform: translate(-50%, 0%);
      }
      .icon-third {
        border: 15px solid #78ace6;
        background-color: #9cc3ef;
      }
      .icon-third::after {
        content: '-----------------';
        position: absolute;
        color: #78ace6;
        transform: rotate(30deg);
        bottom: -5vh;
        right: -25vh;
        font-size: 20px;
      }
      .title-third::before {
        content: '03.';
        position: absolute;
        left: -5vh;
        transform: translate(-50%, 0%);
      }
      .icon-fourth {
        border: 15px solid #c572b4;
        background-color: #e197d2;
      }
      .icon-fourth::after {
        content: '-----------------';
        position: absolute;
        color: #c572b4;
        transform: rotate(-30deg);
        bottom: -5vh;
        left: -25vh;
        font-size: 20px;
      }
      .title-fourth::before {
        content: '04.';
        position: absolute;
        left: -5vh;
        transform: translate(-50%, 0%);
      }
      .icon-fifth {
        border: 15px solid #dbb125;
        background-color: #f6c932;
      }
      .icon-fifth::after {
        content: '-----------------';
        position: absolute;
        color: #dbb125;
        transform: rotate(30deg);
        bottom: -5vh;
        right: -25vh;
        font-size: 20px;
      }
      .title-fifth::before {
        content: '05.';
        position: absolute;
        left: -5vh;
        transform: translate(-50%, 0%);
      }
      .icon-sixth {
        border: 15px solid #15aaa8;
        background-color: #3dbcbb;
      }
      .title-sixth::before {
        content: '06.';
        position: absolute;
        left: -5vh;
        transform: translate(-50%, 0%);
      }
      p {
        color: #000000;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
      }
    }
  }
  .attention-text {
    margin-top: 12vh;
    padding: 32px 62px;
    font-size: 22px;
    font-weight: 500;
    background-color: #de9dd0;
  }
  @media (mim-width: 768px) {
  }
  @media (min-width: 1024px) {
  }
  @media (min-width: 1280px) {
  }
  @media (min-width: 1400px) {
  }
  @media (min-width: 1900px) {
    &-wrapper {
      padding: 11vh 0 10vh;
      width: 67%;
      margin: 0 auto;
      position: relative;
    }
    h3 {
      color: #000000;
      font-family: 'Cartograph Sans CF';
      font-size: 38px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 13.3vh;
    }
    ul {
      padding-right: 13vh;
      li {
        display: flex;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 5vh;
        }
        &:nth-child(odd) {
          margin-left: 12vh;
        }
        &:nth-child(even) {
          margin-left: 54.5vh;
        }
        div {
          width: 183px;
          height: 183px;
          margin-right: 17vh;
        }
        span {
          display: flex;
          position: relative;
          width: 183px;
          height: 183px;
          border-radius: 50%;
        }
        i {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          font-size: 74px;
        }
        .icon-first {
          border: 15px solid #15aaa8;
          background-color: #3dbcbb;
          position: relative;
        }
        .icon-first::after {
          content: '-----------------';
          position: absolute;
          color: #15aaa8;
          transform: rotate(30deg);
          bottom: -5vh;
          right: -25vh;
          font-size: 20px;
        }
        .title-first::before {
          content: '01.';
          position: absolute;
          left: -5vh;
          transform: translate(-50%, 0%);
        }
        .icon-second {
          border: 15px solid #e13b52;
          background-color: #f3576d;
        }
        .icon-second::after {
          content: '-----------------';
          position: absolute;
          color: #e13b52;
          transform: rotate(-30deg);
          bottom: -5vh;
          left: -25vh;
          font-size: 20px;
        }
        .title-second::before {
          content: '02.';
          position: absolute;
          left: -5vh;
          transform: translate(-50%, 0%);
        }
        .icon-third {
          border: 15px solid #78ace6;
          background-color: #9cc3ef;
        }
        .icon-third::after {
          content: '-----------------';
          position: absolute;
          color: #78ace6;
          transform: rotate(30deg);
          bottom: -5vh;
          right: -25vh;
          font-size: 20px;
        }
        .title-third::before {
          content: '03.';
          position: absolute;
          left: -5vh;
          transform: translate(-50%, 0%);
        }
        .icon-fourth {
          border: 15px solid #c572b4;
          background-color: #e197d2;
        }
        .icon-fourth::after {
          content: '-----------------';
          position: absolute;
          color: #c572b4;
          transform: rotate(-30deg);
          bottom: -5vh;
          left: -25vh;
          font-size: 20px;
        }
        .title-fourth::before {
          content: '04.';
          position: absolute;
          left: -5vh;
          transform: translate(-50%, 0%);
        }
        .icon-fifth {
          border: 15px solid #dbb125;
          background-color: #f6c932;
        }
        .icon-fifth::after {
          content: '-----------------';
          position: absolute;
          color: #dbb125;
          transform: rotate(30deg);
          bottom: -5vh;
          right: -25vh;
          font-size: 20px;
        }
        .title-fifth::before {
          content: '05.';
          position: absolute;
          left: -5vh;
          transform: translate(-50%, 0%);
        }
        .icon-sixth {
          border: 15px solid #15aaa8;
          background-color: #3dbcbb;
        }
        .title-sixth::before {
          content: '06.';
          position: absolute;
          left: -5vh;
          transform: translate(-50%, 0%);
        }
        p {
          color: #000000;
          font-size: 25px;
          font-weight: 700;
          text-transform: uppercase;
          position: relative;
        }
      }
    }
    .attention-text {
      margin-top: 12vh;
      padding: 32px 62px;
      font-size: 22px;
      font-weight: 500;
      background-color: #de9dd0;
    }
  }
  @media (min-width: 2500px) {
  }
}
// .recommend-us {
//   background: url(../img/loyalty-program-bg2.png) 25% no-repeat;
//   background-size: cover;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   &-wrapper {
//     padding: 9.5vh 0;
//     margin-left: 35vh;
//   }
//   h2 {
//     font-size: 38px;
//     font-weight: 700;
//     text-align: left;
//     text-transform: uppercase;
//     margin-bottom: 4vh;
//   }
//   p {
//     font-size: 16px;
//     font-weight: 500;
//     &:first-of-type {
//       margin-bottom: 5vh;
//       width: 60%;
//     }
//     &:last-of-type {
//       width: 65%;
//     }
//     span {
//       color: #4ebdbc;
//     }
//   }
// }

@media (mim-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1400px) {
}
@media (min-width: 1900px) {
}
@media (min-width: 2500px) {
}
