<section class="banner" id="banner">
  <div class="slider">
    <div class="slider-item">
      <div class="wrapper-slider wrapper-slider__one"></div>
    </div>
    <div class="slider-item">
      <div class="wrapper-slider wrapper-slider__two"></div>
    </div>
    <div class="slider-item">
      <div class="wrapper-slider wrapper-slider__three"></div>
    </div>
    <div class="slider-item">
      <div class="wrapper-slider wrapper-slider__four"></div>
    </div>
    <div class="slider-item">
      <div class="wrapper-slider wrapper-slider__five"></div>
    </div>
    <div class="slider-item">
      <div class="wrapper-slider wrapper-slider__six"></div>
    </div>
  </div>
</section>
