<section class="banner" id="banner">
  <div class="slider">
    <div class="slider-item">
      <div class="wrapper-slider" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/slide-1.png) no-repeat; background-size: cover"></div>
    </div>
    <div class="slider-item">
      <div class="wrapper-slider" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/slide-2.png) no-repeat; background-size: cover"></div>
    </div>
    <div class="slider-item">
      <div class="wrapper-slider" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/slide-3.png) no-repeat; background-size: cover"></div>
    </div>
    <div class="slider-item">
      <div class="wrapper-slider" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/slide-4.png) no-repeat; background-size: cover"></div>
    </div>
    <div class="slider-item">
      <div class="wrapper-slider" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/slide-5.png) no-repeat; background-size: cover"></div>
    </div>
    <div class="slider-item">
      <div class="wrapper-slider" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/slide-6.png) no-repeat; background-size: cover"></div>
    </div>
  </div>
</section>
