<section class="banner" id="banner">
  <div class="slider">
    <div class="slider-item">
      <div class="wrapper-slider wrapper-slider__one"></div>
    </div>
    <div class="slider-item">
      <div class="wrapper-slider wrapper-slider__two"></div>
    </div>
    <div class="slider-item">
      <div class="wrapper-slider wrapper-slider__three"></div>
    </div>
    <div class="slider-item">
      <div class="wrapper-slider wrapper-slider__four"></div>
    </div>
    <div class="slider-item">
      <div class="wrapper-slider wrapper-slider__five"></div>
    </div>
    <!-- <div class="slider-item">
      <div class="wrapper-slider wrapper-slider__six"></div>
    </div> -->
  </div>
  <div class="nav-bar">
    <ul>
      <li class="text">
        <p>Добро пожаловать</p>
      </li>
      <li>
        <a href="#banner" class="active"></a>
      </li>
      <li><a href="#food-and-service"></a></li>
      <li><a href="#menu-concept"></a></li>
      <li><a href="#cooking-on-coals"></a></li>
      <li><a href="#we-bake-pizza"></a></li>
    </ul>
  </div>
  <div class="social-link social-icon__decktop">
    <span class="social-icon"
      ><a href="javascript:void(0)"><i class="icon-icon-facebook"></i></a
    ></span>
    <span class="social-icon"
      ><a href="javascript:void(0)"><i class="icon-icon-instagram"></i></a
    ></span>
  </div>
  <div class="content">
    <h1>WOODWOODBURGERS</h1>
    <p>Добро пожаловать в WoodWood</p>
    <p>Ресторан на Пивоварне</p>
    <p>StammBrewing</p>
    <div class="social-link social-icon__mobile">
      <span class="social-icon"
        ><a href="javascript:void(0)"><i class="icon-icon-facebook"></i></a
      ></span>
      <span class="social-icon"
        ><a href="javascript:void(0)"><i class="icon-icon-instagram"></i></a
      ></span>
    </div>
    <a href="javascript:void(0)" class="official-site-link">Посетить главный сайт</a>
    <a href="#food-and-service" class="down-arrow"><i class="icon-down-arrow"></i></a>
  </div>
</section>
