<footer>
  <div class="container">
    <h2>WOODWOODBURGERS</h2>
    <div class="footer-content">
      <div class="footer-content-first">
        <p>Контакты:</p>
        <p>
          Lorem Ipsum - это текст-"рыба", часто используемый в печати и
          вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
          латинице с начала XVI века.
        </p>
      </div>

      <div class="footer-content-second">
        <p>Телефон:</p>
        <ul>
          <li><a href="tel:+74951283148">+7-495-128-3148</a></li>
          <li><a href="tel:+74951283148">+7-495-128-3148</a></li>
        </ul>
      </div>

      <div class="footer-content-third">
        <p>Программа лояльности:</p>
        <form action="javascript:void(0)">
          <button>Перейти к программе</button>
        </form>
        <p>Перейдите и посмотрите наше предложение</p>
      </div>
    </div>
    <p>&#169; 2019-2020 г. ИП Попродников В.В.</p>
  </div>
</footer>
