<header>
  <nav>
    <ul>
      <li>
        <span class="icon"><i class="icon-call"></i></span>
        <a href="tel:+74951283148">+7-495-128-3148</a>
      </li>
    </ul>
    <button class="request-a-call">Заказать звонок</button>
  </nav>
  <div class="back-call">
    <div class="close-window"><span>x</span></div>
    <div class="back-call-wrapper">
      <h2>Заказать звонок</h2>
      <form action="#" class="contact-form">
        <div class="contact-form-field">
          <p class="contact-form-title">Ваше имя</p>
          <input type="text" name="user-name" id="user-name" class="contact-form-input" required minlength="2" />
        </div>
        <div class="contact-form-field">
          <p class="contact-form-title">Ваш номер телефона</p>
          <input type="tel" name="user-tel" id="user-tel" class="contact-form-input" required minlength="10" />
        </div>
        <div class="contact-form-field">
          <p class="contact-form-title">Комментарий</p>
          <textarea name="user-message" id="user-message" class="contact-form-message" minlength="15"></textarea>
        </div>
        <div class="button-box">
          <button type="submit" class="contact-form-button">Заказать</button>
        </div>
      </form>
    </div>
  </div>
</header>
