<div class="nav-bar">
  <div>
    <input class="del" id="name1" type="checkbox" />
    <label class="del" for="name1">1</label>
    <div id="spoiler">Добро пожаловать</div>
    <a href="#food-and-service" id="link">Link</a>
  </div>
  <div>
    <input class="del" id="name1" type="checkbox" />
    <label class="del" for="name1">2</label>
    <div id="spoiler">Еда и сервис</div>
    <a href="#" id="link">Link</a>
  </div>
  <div>
    <input class="del" id="name1" type="checkbox" />
    <label class="del" for="name1">3</label>
    <div id="spoiler">Концепция меню</div>
    <a href="#" id="link">Link</a>
  </div>
  <div>
    <input class="del" id="name1" type="checkbox" />
    <label class="del" for="name1">4</label>
    <div id="spoiler">Готовим на углях</div>
    <a href="#" id="link">Link</a>
  </div>
  <div>
    <input class="del" id="name1" type="checkbox" />
    <label class="del" for="name1">5</label>
    <div id="spoiler">Выпекаем пиццу</div>
    <a href="#" id="link">Link</a>
  </div>
</div>

<div class="nav-bar">
  <div>
    <input class="del" id="name1" type="checkbox" />
    <label class="del" for="name1">1</label>
    <div id="spoiler">Добро пожаловать</div>
    <a href="#food-and-service" id="link">Добро пожаловать</a>
  </div>
  <div>
    <input class="del" id="name1" type="checkbox" />
    <label class="del" for="name1">2</label>
    <div id="spoiler">Еда и сервис</div>
    <a href="#" id="link"></a>
  </div>
  <div>
    <input class="del" id="name1" type="checkbox" />
    <label class="del" for="name1">3</label>
    <div id="spoiler">Концепция меню</div>
    <a href="#" id="link"></a>
  </div>
  <div>
    <input class="del" id="name1" type="checkbox" />
    <label class="del" for="name1">4</label>
    <div id="spoiler">Готовим на углях</div>
    <a href="#" id="link"></a>
  </div>
  <div>
    <input class="del" id="name1" type="checkbox" />
    <label class="del" for="name1">5</label>
    <div id="spoiler">Выпекаем пиццу</div>
    <a href="#" id="link"></a>
  </div>
</div>
